* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background-color: #eeeeee;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px auto;
  max-width: 800px;
  height: 800px;

  border: 1px dashed black;
}

article {
  padding: 50px;
  max-width: 500px;

  border: 5px solid pink;
}