* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background-color: #eeeeee;
}

nav {
  display: flex;
  justify-content: center;

  margin: 100px auto;
  padding: 10px;
  max-width: 800px;

  background-color: pink;
}

nav a {
  padding: 10px;

  color: red;
  border-right: 1px solid red;
}

nav a:last-child {
  border: 0px;
}