* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 600;

  color: white;
  background-color: lightgray;
}

article {
  display: grid;
  max-width: 1024px;
  max-height: 661px;
  margin: 0 auto;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr 1fr;

  border: 5px solid black;
}

h1,
.content,
nav,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 1em 0;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
  
  background-color: red;
}

h2 {
  margin: 0;
}

.content {
  flex-flow: column;
  padding: 25px;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;
  
  background-color: orange;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 4;
  
  background-color: blue;
}

footer {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;

  background-color: green;

}

@media (max-width: 425px) {
  .content {
    padding: 1em 0;

    grid-column-start: 1;
    grid-column-end: 3;
  
    grid-row-start: 3;
    grid-row-end: 4;
  }

  nav {
    grid-column-start: 1;
    grid-column-end: 3;
  
    grid-row-start: 2;
    grid-row-end: 3;
  }

  footer {
    padding: 1.75em 0;

    grid-column-start: 1;
    grid-column-end: 3;
  
    grid-row-start: 4;
    grid-row-end: 5;
  }

}