* {
  box-sizing: border-box;

  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.025em;

  color: #DFE2D9;
}

.container {
  display: grid;
  max-width: 716px;
  max-height: 1008px;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr 1fr 1.75fr 2.25fr 1fr 1.5fr;

  grid-template-rows: 3fr .9fr 1.5fr 1fr 1fr .9fr 1fr .9fr 2fr;

  background-color: #ED047D;
}

.one {
  grid-column-start: 1;
  grid-column-end: 8;

  grid-row-start: 1;
  grid-row-end: 2;
}

.two {
  grid-column-start: 2;
  grid-column-end: 3;
  
  grid-row-start: 1;
  grid-row-end: 9;

  background-color: #DFE2D9;
}

.three,
.four,
.five,
.six {
  display: flex;
  align-items: center;
}

.three {
  grid-column-start: 4;
  grid-column-end: 5;
}

.four {
  grid-column-start: 5;
  grid-column-end: 6;

  margin-left: 2em;
}

.seven,
.eight,
.nine {
  background-color: #00000A;
}

.five {
  grid-column-start: 4;
  grid-column-end: 8;
  
  font-weight: 900;
  font-size: 5em;

  color: #00000A;
}

.six {
  grid-column-start: 4;
  grid-column-end: 7;
  
  font-size: 1.5em;
  
  color: #00000A;
}

.seven {
  grid-column-start: 6;
  grid-column-end: 7;
  
  grid-row-start: 1;
  grid-row-end: 3;
}

.eight {
  grid-column-start: 1;
  grid-column-end: 7;
  
  grid-row-start: 2;
  grid-row-end: 3;
}

.nine {
  grid-column-start: 4;
  grid-column-end: 8;
  
  grid-row-start: 6;
  grid-row-end: 7;
}

.ten {
  grid-column-start: 4;
  grid-column-end: 5;
  
  grid-row-start: 6;
  grid-row-end: 10;

  z-index: 1;
  
  background: linear-gradient(90deg, #00000A 55%, transparent 45%);
}

.eleven {
  grid-column-start: 2;
  grid-column-end: 8;
  
  grid-row-start: 8;
  grid-row-end: 9;
  
  background-color: #DFE2D9;
}

@media (max-width: 1024px) {
  .ten {
    background: linear-gradient(90deg, #00000A 60%, transparent 40%);
  }
  
}

@media (max-width: 767px) {
  .three,
  .four {
    align-items: flex-start;

    margin-top: 2.25em;
  }
  
}

@media (max-width: 425px) {
  .container {    
    max-height: 600px;
    
    grid-template-rows: 3fr 1.1fr 1.5fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 2fr;
    
    font-size: .75em;
  }

  .three,
  .four {
    align-items: flex-start;
  
    margin-top: 1.25em;
    margin-bottom: .5em;

    font-size: .9em;
  }
  
  .four {
    margin-left: .75em;
  }

  .six {
    margin: 1em 0;
  }

  .ten {
    background: linear-gradient(90deg, #00000A 55%, transparent 45%);
  }
  
}

@media (max-width: 375px) {
  .container {
    max-height: 530px;

    grid-template-columns: 1fr 1fr 1fr 2fr 2.25fr 1fr 1.5fr;

    grid-template-rows: 3fr 1.1fr 1.5fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 2fr;

    font-size: .75em;
  }

  .three,
  .four {
    align-items: flex-start;

    font-size: .8em;
  }

  .four {
    margin-left: .5em;
  }

  .five {
    font-size: 4.5em;
  }

  .six {
    font-size: 1.25em;
  }
  
  .ten {
    background: linear-gradient(90deg, #00000A 50%, transparent 50%);
  }
  
}

@media (max-width: 320px) {
  .container {
    max-height: 450px;
    
    grid-template-columns: 1fr 1fr 1fr 2.5fr 3fr 1fr 1.5fr;
    
    grid-template-rows: 3fr 1.4fr 1.5fr 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr 2fr;
  }

  .ten {
    background: linear-gradient(-90deg, transparent 60%, #00000A 40%);
  }

}