* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;

  font-family: sans-serif;
}

div {
  position: relative;

  width: 80px;
  height: 80px;
  
  border-radius: 50px;
  background-color: #161617;

  transition: all .25s ease-in-out;
}

a {
  position: absolute;
  top: 65px;
  right: 40px;

  font-weight: 400;
  font-size: 2em;

  visibility: hidden;
  color: transparent;
  text-decoration: none;

  transition: all .25s ease-in-out -.1s;
}

img {
  padding-top: 2px;
  padding-left: 2px;
}

div:hover {
  padding-left: 15px;
  width: 200px;
  box-shadow: 0 20px 20px #aaa;
}

div:hover a {
  padding-left: 40px;
  top: 22px;

  visibility: visible;
  color: #fff;

  transition: all .25s ease-in-out .20s;
}