* {
  box-sizing: border-box;
}

body {
  font-family: 'Abel', regular;
 
  color: #FFFFFF;
  background-color: #4c59a9;
}

.container {
  margin: 25px auto;
  padding: 0 10px;
}

/* MOBILE */

header {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  margin: 10px;
}

.title {
  grid-column: 1 / 3;

  margin: 0;
  
  font-family: 'Space Mono', monospace;
  font-size: 1.25em;
  font-weight: 400;
  color: #ffda7f;
}

.main-nav {
  grid-column: 6 / 10;

  font-family: 'Unica One', regular;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 1em;

  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social {
  grid-column: 10 / 14;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
}

img {
  margin-top: 0;
}

.img-social {
  margin-bottom: 1em;
  margin-left: 2.5em;
}

main {
  margin-top: 25px;
}

h2 {
  margin-right: .5em;

  font-family: 'Unica One', regular;
  font-weight: 400;
  font-size: 1.5em;
  text-align: right;
  text-transform: uppercase;
  color: #ffda7f;
}

.img-clock,
.img-lamp,
.img-stop {
  max-width: 150px;
}

.radio {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  
  border: 1px solid transparent;
  background-color: #ff678d;
}

.clock,
.lamp,
.stop,
.text {
  margin: 10px;
  padding: 10px;

  box-shadow: 5px 5px 10px #45529F;
}

p {
  margin-top: 0;
}

h3 {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-bottom: .5em;

  text-transform: uppercase;
}

.img-radio {
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  margin-left: -100px;
}

.clock,
.lamp,
.stop,
footer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.clock {
  border: 1px solid #ff678d;
}

.text-clock {
  line-height: 1.25em;
}

h2,
.paragraph {
  line-height: 1.75em;
}

.lamp {
  padding: 10px;
}

.next {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.next a {
  text-transform: none;
}

.img-arrow {
  margin-left: 1em;
}

footer {
  margin-top: 5em;
}

footer a:last-child {
  text-decoration-line: underline;
  text-transform: lowercase;
}

/* HOVER */

a:hover {
  color: #ffda7f;
}

.img-social:hover,
.img-arrow:hover {
  transform: translate(5px);
}

.radio:hover {
  border: 1px solid #ff678d;
  background-color: #4c59a9;
}

.clock:hover {
  border: 1px solid transparent;
  background-color: #ff678d;
}

.lamp:hover,
.stop:hover,
.text:hover {
  box-shadow: 5px 5px 10px #ff678d;
}

/* MEDIA */

@media (min-width: 426px) {
  .container {
    max-width: 960px;
  }

  .main-nav {
    grid-column: 4 / 10;
    display: flex;
    flex-flow: column wrap;

    max-height: 100px;
  }

  .social {
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
  }

  h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    max-width: 450px;
    margin-bottom: -20px;
  }

  .radio {
    grid-column: 1/2;
    align-items: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    max-width: 450px;
    max-height: 250px;
  }

  .number {
    align-self: flex-start;
  }

  .number-start {
    margin-bottom: 75px
  }

  h3,
  .img-radio {
    grid-row: 2 / 3;
  }

  .clock {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    margin-top: 105px;
  }

  .img-clock {
    margin: 25px 0 50px 0;
  }

  .stop {
    grid-column: 3/4;
    grid-row: 2/3;
    
    margin-top: -15px;
    max-width: 280px;
    max-height: 250px;
  }

  .lamp {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-end;

    margin: 0 10px 10px 200px;
    max-width: 280px;
    max-height: 275px;
  }

  .text {
    grid-column: 2/4;
    grid-row: 3/4;

    margin-left: 0;
    max-width: 280px;
    margin-top: -18px;
  }

  .next {
    grid-row: 1/2;
    grid-column: 3/4;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;

    margin-bottom: 25px;
    margin-right: 25px;
  }

  .text,
  .clock {
    box-shadow: none;
  }

  footer {
    flex-flow: row;
    justify-content: space-between;
  }

}